body{
    font: Arial,Helvetica,sans-serif;
    }


#container {
    width: 1050px;
    /*border: 1px solid grey;*/
    margin: 0 auto;
    
}
#header{
    height: 100px;
    padding: 10px 0;
}
#brand{
    float: left;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color:#11abed;
    text-decoration: none;
}
#searchbox{
    float:right;
    background: linear-gradient(#ac53ca, #7ee33f);
    background: -webkit-linear-gradient(#ac53ca, #7ee33f);
    background: -moz-linear-gradient(#ac53ca, #7ee33f);
    background: -o-linear-gradient(#ac53ca, #7ee33f);
    width:400px;
    height:50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}

.text{
    float: left;
    width:200px;
    padding:5px;
    font-size: 15px;
    color: #f8a96c;
    border: solid #C8D03E;
}

.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background:purple;
    font-size: 15px;
}

.clear{
    clear: both;
}

#menu{
    height: 70px;
    background:linear-gradient(#a0de48,#f1db36);
    background:-webkit-linear-gradient(#a0de48,#f1db36);
    background:-o-linear-gradient(#a0de48,#f1db36);
    background:-moz-linear-gradient(#a0de48,#f1db36);
    
    padding:7px 0;
}

ul{
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;}
    
#menu ul li:last-child{
    border-right: none;
 
    }
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    transition:font-size 0.5s ease;
     -webkit-transition:font-size 0.5s ease;
     -moz-transition:font-size 0.5s ease;
     -0-transition:font-size 0.5s ease;
     -ms-transition:font-size 0.5s ease;
}
#menu ul li a:hover, #menu ul li a.active{
    font-size: 20;
    font-weight: bold;
    color:#C34FDB;
}

#introduction{
    background: linear-gradient(#E5F2BB,#B7E952);
    background:-webkit-linear-gradient(#E5F2BB,#B7E952);
    background:-o-linear-gradient (#E5F2BB,#B7E952);
    background:-moz-linear-gradient (#E5F2BB,#B7E952);
        padding:30px;
        margin:16px 0;
}

#introduction h3{
    font-size: 45px;
    color:#316901;
    font-weight: normal;
    }

#introduction p{
    font-size: 25px;
    color: #789456;
    text-align: justify;
}
.sidebar h3{
    color: #B314DB;
    font-size: 30px;
}
.sidebar{
    height: 500px;
    width:450px;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    padding: 10px 30px;
    
}

#leftsidebar{
padding-bottom: 6px;

}

#rightsidebar ul li{
    padding:20px 20px 0 20px;
    background:no-repeat;
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #C34FDB;
}

.sidebar ul li a:hover, .sidebar ul li a.a.active{
    text-decoration: none;
    color:#C34FDB;
    font-size: 23px;
    font-weight: bold;
    transition:font-size 0.5s ease;
    -webkit-transition:font-size 0.5s ease;
    -moz-transition:font-size 0.5s ease;
    -0-transition:font-size 0.5s ease;
    -ms-transition:font-size 0.5s ease;
    
    
}
#leftsidebar{
    float: left;
}

#rightsidebar{
    float: right;
}

.footer{
    height:60px;
    background: linear-gradient(#F6F390,#D5D533);
     background:-webkit-linear-gradient(#F6F390,#D5D533);
    background:-o-linear-gradient(#F6F390,#D5D533) ;
    background:-moz-linear-gradient (#F6F390,#D5D533); 
    padding:10px 30p;
    margin-top: 15px;
}